<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Crear cuenta</title>
  <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
    <form>
        <div class="inicio_register">
            <div class="imagen">
                <img src="/static/styles/img/login_register.jfif" alt="Login Image" class="login-image">
            </div>
            <div class="login">
                <h1>Crea una cuenta</h1>
                <div class="Usuario">
                    <label for="usuario">usuario</label>
                    <input type="text" id="usuario" name="usuario" required>
                </div>
            <div class="Usuario">
                <label for="contrasena">contraseña</label>
                <input type="password" id="contrasena" name="contrasena" required>
            </div>
            <div>
                <button type="submit" onclick="location.href='/login'" class="botton">registrate</button>
            </div>
            <div class="yaTienesCuenta">
                <a href="/forgot-password">¿ya tienes cuenta?</a>
            </div>
        </div>
    </form>
  </div>
</body>
</html>
